<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="images/LEGO-White-Instruction-Manuals-1400x933.jpg" alt="123" width="233" height="156">

        <h2 class="h2">Easy Instructions <small class="d-none">🛡️</small></h2>
        <p>Easy to follow instructions included with each lego set and available through a mobile app. </p>
    </div>
    <div class="col-lg-4">
        <img src="images/1000x800.jpg" alt="123" width="233" height="156">
        <h2 class="h2">Unlimited Possibilities <small class="d-none">🚀</small></h2>
        <p>Use your imagination to build anything into reality. Play with your invention and display it for others to see. </p>
    </div>
    <div class="col-lg-4">
        <img src="images/STEM.jpeg" alt="123" width="233" height="156">
        <h2 class="h2">Educational <small class="d-none">📈</small></h2>
        <p>Usable in the classroom to teach lessons in STEM through robotics and coding. Code lights, sound, or moving parts and bring creations to life. </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Modular <small class="d-none">🦉</small></h2>
        <p> Lego buildings are easy to modify and combine with other buildings. Allowing for larger, interconnected structures.  </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Long Lasting <small class="d-none">✨</small></h2>
        <p> Lego Bricks are made from strong ABS plastic, allowing them to be passed through generations. The Lego connectors have not changed and the original Lego Brick is still compatible with today's Brick.  </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Sustainable <small class="d-none">🧰</small></h2>
        <p> Lego is working on making bricks from recyclable and plant based materials, allowing bricks to be more eco-friendly and ensuring that the bricks last for decades.</p>
    </div>
</div>
